.sidebar {
  width: 200px;
  height: 100vh;
  background-color: rgb(17, 17, 44);
  color: white;
  top: 0;
  left: 0;
  position: fixed;
}
.sidebar.closed {
  width: 80px;
}
.sidebar-header {
  display: flex;
  align-items: center;
  background-color: lightskyblue;
  justify-content: space-between;
  padding: 10px;
  height: 40px;
}
.toggle-btn {
  cursor: pointer;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  padding: 5px;
}
.toggle-btn .arrow {
  width: 0;
  height: 0;
  border-style: solid;
}
.toggle-btn .left {
  border-width: 8px 10px 8px 0;
  border-color: transparent white transparent transparent;
}
.toggle-btn .right {
  border-width: 8px 0px 8px 10px;
  border-color: transparent transparent transparent white;
}
.logo h2 {
  color: rgb(27, 21, 207);
  font-size: 18px;
}
.logo .logo-letter {
  font-weight: 800;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  border: 2px solid red;
}
.nav-menu ul {
  list-style-type: none;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav-menu ul li {
  margin-bottom: 0px;
  display: flex;
}
.nav-menu ul li a {
  text-decoration: none;
  color: wheat;
  display: flex;
}
.nav-menu ul li a p {
  margin-right: 5px;
  font-size: 16px;
}
.nav-menu ul li a:hover {
  background-color: orange;
  color: black;
  width: 100%;
  padding: 3px;

  border-radius: 0 30px 30px 8px;
}
